In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [2]:
import pandas as pd
data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [3]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
# mean函数为取均值
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [6]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [8]:
import torch
X, Y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, Y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

# 练习
创建包含更多行和列的原始数据集。

1. 删除缺失值最多的列。

2. 将预处理后的数据集转换为张量格式。

In [9]:
data_file = os.path.join('..', 'data', 'watermelon.csv')
with open(data_file, 'w') as f:
    f.write('sweet,color,size,price\n')  # 列名
    f.write('yes,red,12,30\n')  # 每行表示一个数据样本
    f.write('no,NA,11,24\n')
    f.write('yes,NA,13,34\n')
    f.write('NA,green,10,30\n')
    f.write('NA,NA,10,30\n')
    f.write('NA,yellow,10,30\n')
    f.write('no,yellow,NA,30\n')
    f.write('yes,yellow,10,NA\n')

In [13]:
data = pd.read_csv(data_file)
data.columns.values

array(['sweet', 'color', 'size', 'price'], dtype=object)

In [16]:
def drop_col():
    maxn = 0
    col = ''
    for col_name in data.columns.values:
        n = data[col_name].isnull().sum()
        if maxn < n:
            maxn = n
            col = col_name
    data.drop(col, axis=1)
drop_col()
data

  sweet   color  size  price
0   yes     red  12.0   30.0
1    no     NaN  11.0   24.0
2   yes     NaN  13.0   34.0
3   NaN   green  10.0   30.0
4   NaN     NaN  10.0   30.0
5   NaN  yellow  10.0   30.0
6    no  yellow   NaN   30.0
7   yes  yellow  10.0    NaN

In [28]:
num = data.isna().sum().to_dict()
max_key = max(num, key=num.get)
data = data.drop(max_key, axis=1)
data

    color  size  price
0     red  12.0   30.0
1     NaN  11.0   24.0
2     NaN  13.0   34.0
3   green  10.0   30.0
4     NaN  10.0   30.0
5  yellow  10.0   30.0
6  yellow   NaN   30.0
7  yellow  10.0    NaN